/* TABLES STYLING */

#module{
      background-color: #FFD57B;
      border: none;
}

th{
      background-color: #FFB03A;
}

td{
      background-color: #FFD57B;
}

/* HOME PAGE STYLING */

#back{
      background-image: url('background.png');
      width: 70%;
      height: 70%;
}

header{
      background-color: #FFD57B;
      text-align: center;
      height: 125px;
}

#calendar{
      float: left;
      margin-top: 50px;
}

#tables{
      margin-top: 105px;
}

#calc{
      float: left;
      margin-left: 4%;
}

#timer{
      margin-left: 20%;
      float: left;
}

#mascot{
      float: right;
}

footer{
      margin-top: 300px;
      margin-bottom: 0px;
      background-color: #FFD57B;
      height: 125px;
}

#catchphrase{
      font-size: 50px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #FFB03A;
      text-align: center;
}
