/* TABLES STYLING */

#module{
      background-color: #FFD57B;
      border: none;
}

th{
      background-color: #FFB03A;
}

td{
      background-color: #FFD57B;
}

/* HOME PAGE STYLING */

header{
      background-color: #FFD57B;
      text-align: center;
      height: 100px;
}




