/* TABLES STYLING */

#module{
      background-color: #FFD57B;
      border: none;
}

th{
      background-color: #FFB03A;
}

td{
      background-color: #FFD57B;
}

table, th, td{
         border: 1px solid;
}
/* 



